body{
    margin: 0;
    padding: 0;
    
}
#BOX{
    
    display: flex;
    /* justify-content: center; */
    margin: 10px;
    padding: 10px;
}

#box1{
    height:300px;
    width: 300px;
    background-color: aqua;
    /* margin: 200px 0 0 100px; */
}
#para1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    
}
/* .div{
    justify-content: center;
    text-align: center;
    display: flex;
} */
#box2{
     height:300px;
    width: 300px;
    background-color: rgb(52, 79, 79);
    /* margin: 200px 0 0 100px; */
}
#box3{
     height:300px;
    width: 300px;
    background-color: rgb(38, 83, 83);
    /* margin: 200px 0 0 100px; */
}
#box4{
     height:300px;
    width: 300px;
    background-color: rgb(4, 106, 106);
    /* margin: 200px 0 0 100px; */
}